# Dependencies
node_modules/
/node_modules
*/node_modules
/*/node_modules

# Package locks (optional, but common to exclude)
package-lock.json
yarn.lock
pnpm-lock.yaml

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output
/frontend/dist/
/frontend/build/
dist/
build/
Samsung-Prism/ritm_interactive_segmentation/weights
# Log files
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Temporary files
*.tmp
*.temp
.cache/
